recursive-include src/ml_framework_snapshots *.json
recursive-exclude * *.db
recursive-exclude * *.db-journal
recursive-exclude * *.db-wal
recursive-exclude * *.sqlite
recursive-exclude * *.sqlite3
recursive-exclude * *.sqlite-journal
